body {
  background-color: #EEE;
  background-color: gray;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: red;
}

hl, h2, h3 {
  margin: 0;
}

#container {
  background-color: white;
  width: 800px
  margin-left: auto;
  margin-right: auto;
}

#header {
  color: black;
  text-align: center;
  padding: 10px;
}

#content {
  padding: 10px 10px 10px 10px;
}

#nav {
  width: 180px;
  float: left;
}

#main {
  width: 600px;
  float: center;
}

#footer {
clear: both;
padding: 10px;
color: black;
text-align: right;
}
